.half {
  display: inline-block;
  width: 50%;
  float: left;
}

.route-symbol {
  border-radius: 100px;
  color: #fff;
  display: block;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 900;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}

.small {
  font-size: 14px;
}

.trainList-table tr {
  cursor: pointer;
}
